<html>
	<head>
		<title>Mi blog</title>
	</head>
	<body>
		<h1>Hola, soy un blog</h1>
		<h2>El blog más bonito del mundo* :3</h2>
		<h3>*: Fuente: mi mamá</h3>
		<br />
		<h2>Mis bonitas publicaciones</h2>
            <div>      
                <h2><a href="">My first post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            </div>

            <div>           
                <h2><a href="">My second post</a></h2>
                <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut f.</p>
            </div>

	</body>
</html>