<html>
	<head>
		<title>Mi blog</title>
	</head>
	<body>
		<h1>Hola, soy un blog</h1>
		<h2>El blog más bonito del mundo* :3</h2>
		<h3>*: Fuente: mi mamá</h3>
		<br />
		<h2>Mis bonitas publicaciones</h2>
            <div>      
            	{% for post in posts %}
        			 <div>
            <p>published: {{ post.published_date }}</p>
            <h1><a href="">{{ post.title }}</a></h1>
            <p>{{ post.text|linebreaksbr }}</p>
        </div>
				{% endfor %}
        	</div>

	</body>
</html>